<div class='containerChef'>
    <div class='containerPreparing'>
      <h3>Andan</h3>
      <div class='containerPreparations'>
        <div class='commands' *ngFor= 'let command of commands; index as i'>
          <div class="contentCommand">
            <div class="infoCommand">
              <p>Cliente: {{command.name}} / Mesa N° {{command.table}}</p>
              <p class="numberCmd">Comanda N° {{i+1}}</p>
              <p>Comentario: {{command.commentary}}</p>
            </div>
            <div class="container">
              <div class="productsList">
                <p *ngFor="let item of command.selectedProduct">1  {{item.name}}</p>
              </div>
              <div class="btnContainer">
                <button class="btn-ready"><i class="fas fa-check"></i></button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class='containerOutput'>
      <h3>Comanda Sale</h3>
      <div class='containerStatePreparations'>

      </div>
      <div class="ctn-btn-home">
        <button routerLink='/home' class="btn-home"><i class="fas fa-home"></i></button>
      </div>
      
    </div>
</div>
