.containerChef {
  display: flex;
  background: #E5E5E5;
  width: 100%;
  height: 100vh;
}

.containerPreparing {
  display: flex;
  flex-direction: column;
  width: 65%;
  background: #FAFAFA;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.containerOutput {
  display: flex;
  flex-direction: column;
  width: 35%;
  background: #EAEAEA;
}

.btn-home {
  position: absolute;
  width: 63px;
  height: 63px;
  right: 0px; 
  bottom: 10px;
  border-radius: 50%;
  background: #272F31;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin: 34px 0 0 25px;
  color: #272F31;
}