* {
  font-size: 1rem;
}

.containerChef {
  display: flex;
  background: #E5E5E5;
  width: 100%;
  height: 100vh;
}

.containerPreparing {
  display: flex;
  flex-direction: column;
  width: 70%;
  background: #FAFAFA;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.containerPreparations{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.6em 1.5em;
  overflow-y: scroll;
}

.commands{
  width: 23.7em;
  height: 19.6em;
  margin: 1.2em ;
  background: #ECECEC;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 0.3em;
}

.contentCommand{
  margin: 1.2em;
  height: 17.5em;
}

p.numberCmd{
  font-weight: 600;
  color: #272F31;
}

.container{
  display: flex;
  flex-direction: row;
  height: 10.6em;
  margin-top: 1.2em;
  width: 100%;
}

.productsList{
  width: 75%;
  overflow-y: scroll;
}

.productsList p{
  font-weight: 600;
}

.btnContainer{
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.containerOutput {
  display: flex;
  flex-direction: column;
  width: 30%;
  background: #EAEAEA;
}

.containerStatePreparations{
  height: 75%;
}

.ctn-btn-home{
  display: flex;
  justify-content: flex-end;
}

.btn-home {
  background: #272F31;
  width: 4em;
  height: 4em;
  border-radius: 3.1em;
  border: none;
  box-shadow: 0rem 0.1em 0.5em rgba(0, 0, 0, 0.25);
  font-size: 1.1em;
  color: #FAFAFA;
  margin-right: 2em;
}

h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.8em;
  margin: 2.1em 0 0 1.5em;
  color: #272F31;
}

.btn-home i{
  color: #FAFAFA;
  font-size: 2em;
}

.btn-ready{
  border: none;
  border-radius: 3.7em;
  width: 2.8em;
  height: 2.8em;
  background-color: #86BC42;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.btn-ready i{
  color: #FAFAFA;
  font-size: 1.5em;
}

p {
  margin: 0.6em 0;
  color: #272F31;
}

/* Media Queries--------------------------------------------------------------------- */

@media screen and (max-width: 1270px){
  * {
    font-size: 0.9rem;
} 
}

@media screen and (max-width: 1135px){
.containerPreparing {
  width: 50%;
}

.containerOutput {
  width: 50%;
}

}

@media screen and (max-width: 820px){
  * {
    font-size: 0.8rem;
}

.containerChef {
  flex-direction: column;
}

.containerPreparing {
  width: 100%;
}

.containerOutput {
  width: 100%;
  height: 50em;
}
}
  
@media screen and (max-width: 700px){
  * {
    font-size: 0.9rem;
}
}

@media screen and (max-width: 430px){
  * {
    font-size: 0.8rem;
}
}