<div class="menuDrinks">
    <div>
      <h4 >Cafetería</h4>
        <div class="coffeeCard" *ngFor= "let item of result;index as i">
          <p>{{item.nameCoffee}}</p>
          <p>{{item.priceCoffee}}</p>
          <div>{{item.imgCoffee}}</div>
        </div>
    </div>
    <div>
      <h4>Bebestibles</h4>
        <div class="drinksCard" *ngFor= "let item of result;index as i">
          <p>{{item.nameDrinks}}</p>
          <p>{{item.priceDrinks}}</p>
          <div>{{item.imgDrinks}}</div>
        </div>
    </div>
</div>
  