
<div class='containerWaiter'>

    <div class='containerState'>
        <h3>Estado de <br>comandas</h3>
        <div class="stateOrder">
        </div>
        <button routerLink='/home' class="backHome"><i class="fas fa-home"></i></button>
    </div>

    <div class='containerMenu'>
        <h3>Menú</h3>
        <div class='menuTitles'>
            <button class="btnMenu" (click)="showFood=!showFood" [ngClass]="{ btnMenu: showFood, blueClass: !showFood }">Comida</button>
            <button class="btnMenu" (click)="showDrinks=!showDrinks" [ngClass]="{ btnMenu: showDrinks, blueClass: !showDrinks }">Bebestible</button>
        </div>
        <app-food-menu *ngIf="showFood"></app-food-menu>
        <app-drink-menu *ngIf="showDrinks"></app-drink-menu>
    </div>

    <div class='containerOrder'>
        <h3>Pedido actual</h3>
        <div class="ContainerInputs">
            <input class="name" type="text" placeholder="Nombre cliente">
            <input class="number" type="number" placeholder="N° Mesa">
        </div>
        <div class="containerResume">
            <h4>Resumen productos</h4>
              <div class="ctnProducts">
                <p class="products" *ngFor="let product of selectedProduct">{{product.name}} $ {{product.price}}</p>
                <hr>
              </div>
        </div>
        <div class="containerCommentary">
            <textarea class='commentary' placeholder="Ingresa un comentario para cocina"></textarea>
        </div>
        <div class="containerButtons">
            <button class="send">Enviar a cocina</button>
            <button class="cancel">Cancelar pedido</button>
        </div>
    </div>
</div>
