:host {
  font-family: Montserrat;
  box-sizing: border-box;
}

.containerWaiter{
    display: flex;
    background: #E5E5E5;
    width: 100%;
    height: 100vh;
}

.containerState{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.stateOrder{
    height: 605px;
}

button.backHome{
    background: #272F31;
    width: 65px;
    height: 65px;
    border-radius: 50px;
    border: none;
    margin: 0 0 45px 35px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    color: #FAFAFA;
}

i{
    color: #FAFAFA;
    font-size: 32px;
}

.containerMenu{
    display: flex;
    flex-direction: column;
    width: 40%;
    background: #FAFAFA;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.menuTitles{
    display: flex;
    flex-direction: row;
}

.containerOrder{
    display: flex;
    flex-direction: column;
    width: 35%;
}

h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin: 34px 0 0 25px;
    color: #272F31;
}

.blueClass{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 40px 0 0 25px;
    color: #272F31;
    border: none;
    background: none;
}

.btnMenu{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 40px 0 0 25px;
    color: #86BC42;
    border: none;
    background: none;
    text-decoration: underline;
}

.ContainerInputs{
    display: flex;
    flex-direction: row;
    margin:40px 0 0 25px;
}

input.name{
    width: 160px;
    height: 47px;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 40px;
    margin: 0 20px 20px 0;
    padding-left: 25px;
    font-size: medium;
}

input.number{
  width: 85px;
  height: 47px;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 40px;
  margin-bottom: 20px;
  padding-left: 25px;
  font-size: medium;
}

::placeholder{
    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
}

.containerResume{
    display: flex;
    flex-direction: column;
    height: 315px;
}

table {
  font-family: Montserrat;
  text-align: left;
  width: 100%;
  color: #272F31;
}

.nameP{
  width: 60%;
}

.priceP{
  width: 25%;
}

.iconP{
  width: 15%;
}

button.delete{
  border: none;
  border-radius: 50px;
  background: #272F31;
  width: 25px;
  height: 25px;
}

button.delete i{
  font-size: 12px;
}

.ctnProducts{
  width: 90%;
  overflow-y: scroll;
  margin-left: 25px;
}

hr{
  background-color: #272F31;
}

h4{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 25px;
    color: #272F31;
}

p.total{
  text-align: right;
  color: #272F31;
  font-weight: 600;
  width: 74%;

}

.containerCommentary{
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.commentary{
    width: 70%;
    height: 60px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: none;
    padding: 15px 25px;
}

.containerButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 50px;
}

button.cancel{
    background: #272F31;
    width: 60%;
    height: 56px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: none;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    color: #FAFAFA;
    margin: 10px;
}

button.send{
    background: #86BC42;
    width: 60%;
    height: 56px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: none;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    color: #FAFAFA;
    margin: 10px;
}

