<div class="menuFood">
    <h4 (click)="mostrarMenu()">Sándwiches</h4>
    <div class="ciabattaCtn">

    </div>
    <div class="integralCtn">

    </div>
    <div class="paniniCtn">

    </div>
    
    <h4>Para picar</h4>
    <div class="onionCtn">

    </div>
    <div class="chipsCtn">

    </div>
    <div class="falafelCtn">

    </div>
    
    <h4>Almuerzo</h4>
    <div class="lasagnaCtn">

    </div>
    <div class="curryCtn">

    </div>
    <div class="buddhaCtn">
        
    </div>
</div>
